In [1]:
import ads
import pandas as pd
from ads.dataset.dataset import ADSDataset

In [2]:
ads.hello()

  O  o-o   o-o
 / \ |  \ |
o---o|   O o-o
|   ||  /     |
o   oo-o  o--o

ads v2.8.8
oci v2.111.0
ocifs v1.2.1

In [3]:
df = pd.read_csv('./data/heart_failure_clinical_records_dataset.csv') # load data with Pandas

# use open...

ds = ADSDataset(df) # construct **ADS** Dataset from DataFrame

# alternative form...
# ds = ADSDataset.from_dataframe(df)

# an example using Pandas to parse data on the clipboard as a CSV and construct an ADS Dataset object
# this allows easily transfering data from an application like Microsoft Excel, Apple Numbers, etc.

# ds = ADSDataset.from_dataframe(pd.read_clipboard())

In [4]:
ds.shape

(299, 13)

In [5]:
ds.set_name("Heart Failure Dataset")

In [6]:
ds.name

'Heart Failure Dataset'

In [7]:
ds.summary()

                     Feature            Datatype
0                        age  continuous/float64
1                    anaemia   categorical/int64
2   creatinine_phosphokinase       ordinal/int64
3                   diabetes   categorical/int64
4          ejection_fraction       ordinal/int64
5        high_blood_pressure   categorical/int64
6                  platelets  continuous/float64
7           serum_creatinine  continuous/float64
8               serum_sodium       ordinal/int64
9                        sex   categorical/int64
10                   smoking   categorical/int64
11                      time       ordinal/int64
12               DEATH_EVENT   categorical/int64

In [8]:
ds.corr()

,age,creatinine_phosphokinase,ejection_fraction,platelets,serum_creatinine,serum_sodium,time
age,1.000000,-0.081584,0.060098,-0.052354,0.159187,-0.045966,-0.224068
creatinine_phosphokinase,-0.081584,1.000000,-0.044080,0.024463,-0.016408,0.059550,-0.009346
ejection_fraction,0.060098,-0.044080,1.000000,0.072177,-0.011302,0.175902,0.041729
platelets,-0.052354,0.024463,0.072177,1.000000,-0.041198,0.062125,0.010514
serum_creatinine,0.159187,-0.016408,-0.011302,-0.041198,1.000000,-0.189095,-0.149315
serum_sodium,-0.045966,0.059550,0.175902,0.062125,-0.189095,1.000000,0.087640
time,-0.224068,-0.009346,0.041729,0.010514,-0.149315,0.087640,1.000000

In [9]:
ds.feature_types

{'age': {
   "type": "continuous",
   "missing_percentage": 0.0,
   "low_level_type": "float64",
   "stats": {
     "mode": 60.0,
     "median": 60.0,
     "kurtosis": -0.18487053195417413,
     "variance": 141.48648290797084,
     "skewness": 0.42306190672863536,
     "outlier_percentage": 0.0,
     "count": 299.0,
     "mean": 60.83389297658862,
     "std": 11.894809074044478,
     "min": 40.0,
     "25%": 51.0,
     "50%": 60.0,
     "75%": 70.0,
     "max": 95.0
   },
   "feature_name": "age"
 },
 'anaemia': {
   "type": "categorical",
   "low_level_type": "int64",
   "missing_percentage": 0.0,
   "stats": {
     "unique percentage": 0.6688963210702341,
     "mode": 0,
     "count": 299,
     "unique": 2,
     "top": 0,
     "freq": 170
   },
   "feature_name": "anaemia"
 },
 'creatinine_phosphokinase': {
   "type": "ordinal",
   "missing_percentage": 0.0,
   "low_level_type": "int64",
   "stats": {
     "unique percentage": 69.56521739130434,
     "x_min": 23,
     "x_max": 7861,
     "mode": 582,
     "count": 299,
     "unique": 208,
     "top": 582,
     "freq": 47
   },
   "feature_name": "creatinine_phosphokinase"
 },
 'diabetes': {
   "type": "categorical",
   "low_level_type": "int64",
   "missing_percentage": 0.0,
   "stats": {
     "unique percentage": 0.6688963210702341,
     "mode": 0,
     "count": 299,
     "unique": 2,
     "top": 0,
     "freq": 174
   },
   "feature_name": "diabetes"
 },
 'ejection_fraction': {
   "type": "ordinal",
   "missing_percentage": 0.0,
   "low_level_type": "int64",
   "stats": {
     "unique percentage": 5.68561872909699,
     "x_min": 14,
     "x_max": 80,
     "mode": 35,
     "count": 299,
     "unique": 17,
     "top": 35,
     "freq": 49
   },
   "feature_name": "ejection_fraction"
 },
 'high_blood_pressure': {
   "type": "categorical",
   "low_level_type": "int64",
   "missing_percentage": 0.0,
   "stats": {
     "unique percentage": 0.6688963210702341,
     "mode": 0,
     "count": 299,
     "unique": 2,
     "top": 0,
     "freq": 194
   },
   "feature_name": "high_blood_pressure"
 },
 'platelets': {
   "type": "continuous",
   "missing_percentage": 0.0,
   "low_level_type": "float64",
   "stats": {
     "mode": 263358.03,
     "median": 262000.0,
     "kurtosis": 6.209254515302208,
     "variance": 9565668749.44888,
     "skewness": 1.4623208382757793,
     "outlier_percentage": 1.0033444816053512,
     "count": 299.0,
     "mean": 263358.02926421404,
     "std": 97804.23686859828,
     "min": 25100.0,
     "25%": 212500.0,
     "50%": 262000.0,
     "75%": 303500.0,
     "max": 850000.0
   },
   "feature_name": "platelets"
 },
 'serum_creatinine': {
   "type": "continuous",
   "missing_percentage": 0.0,
   "low_level_type": "float64",
   "stats": {
     "mode": 1.0,
     "median": 1.1,
     "kurtosis": 25.828238661132016,
     "variance": 1.070211072703192,
     "skewness": 4.455995882049026,
     "outlier_percentage": 2.0066889632107023,
     "count": 299.0,
     "mean": 1.3938795986622072,
     "std": 1.034510064089853,
     "min": 0.5,
     "25%": 0.9,
     "50%": 1.1,
     "75%": 1.4,
     "max": 9.4
   },
   "feature_name": "serum_creatinine"
 },
 'serum_sodium': {
   "type": "ordinal",
   "missing_percentage": 0.0,
   "low_level_type": "int64",
   "stats": {
     "unique percentage": 9.03010033444816,
     "x_min": 113,
     "x_max": 148,
     "mode": 136,
     "count": 299,
     "unique": 27,
     "top": 136,
     "freq": 40
   },
   "feature_name": "serum_sodium"
 },
 'sex': {
   "type": "categorical",
   "low_level_type": "int64",
   "missing_percentage": 0.0,
   "stats": {
     "unique percentage": 0.6688963210702341,
     "mode": 1,
     "count": 299,
     "unique": 2,
     "top": 1,
     "freq": 194
   },
   "feature_name": "sex"
 },
 'smoking': {
   "type": "categorical",
   "low_level_type": "int64",
   "missing_percentage": 0.0,
   "stats": {
     "unique percentage": 0.6688963210702341,
     "mode": 0,
     "count": 299,
     "unique": 2,
     "top": 0,
     "freq": 203
   },
   "feature_name": "smoking"
 },
 'time': {
   "type": "ordinal",
   "missing_percentage": 0.0,
   "low_level_type": "int64",
   "stats": {
     "unique percentage": 49.49832775919732,
     "x_min": 4,
     "x_max": 285,
     "mode": 187,
     "count": 299,
     "unique": 148,
     "top": 250,
     "freq": 7
   },
   "feature_name": "time"
 },
 'DEATH_EVENT': {
   "type": "categorical",
   "low_level_type": "int64",
   "missing_percentage": 0.0,
   "stats": {
     "unique percentage": 0.6688963210702341,
     "mode": 0,
     "count": 299,
     "unique": 2,
     "top": 0,
     "freq": 203
   },
   "feature_name": "DEATH_EVENT"
 }}

In [10]:
ds.set_description("Heart Failure dataset with time series event")

In [11]:
ds.description

'Heart Failure dataset with time series event'

In [12]:
ds.to_pandas_dataframe()

,age,anaemia,creatinine_phosphokinase,diabetes,ejection_fraction,high_blood_pressure,platelets,serum_creatinine,serum_sodium,sex,smoking,time,DEATH_EVENT
0,75.0,0,582,0,20,1,265000.00,1.9,130,1,0,4,1
1,55.0,0,7861,0,38,0,263358.03,1.1,136,1,0,6,1
2,65.0,0,146,0,20,0,162000.00,1.3,129,1,1,7,1
3,50.0,1,111,0,20,0,210000.00,1.9,137,1,0,7,1
4,65.0,1,160,1,20,0,327000.00,2.7,116,0,0,8,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...
294,62.0,0,61,1,38,1,155000.00,1.1,143,1,1,270,0
295,55.0,0,1820,0,38,0,270000.00,1.2,139,0,0,271,0
296,45.0,0,2060,1,60,0,742000.00,0.8,138,0,0,278,0
297,45.0,0,2413,0,38,0,140000.00,1.4,140,1,1,280,0
298,50.0,0,196,0,45,0,395000.00,1.6,136,1,1,285,0

In [13]:
ds.numeric_columns

array(['age', 'anaemia', 'creatinine_phosphokinase', 'diabetes',
       'ejection_fraction', 'high_blood_pressure', 'platelets',
       'serum_creatinine', 'serum_sodium', 'sex', 'smoking', 'time',
       'DEATH_EVENT'], dtype=object)